<%= form_for [@survey, @ballot] do |f| %>

  <% fields_for @ballot.preferences do |preferences_fields| %>
    
  <% end %>

  <% if false %>
  <% for question in @survey.questions %>
    <p>
	  <%= f.label question.question %>
	  <%= radio_button(question.id, "preference", "Yes") %> Yes
	  <%= radio_button(question.id, "preference", "No") %> No
	  <%= radio_button(question.id, "preference", "Decline") %> Decline
	</p>
  <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit "Vote" %>
  </div>
<% end %>
