<%= form_for(@ballot.survey) do |f| %>
  <% if @ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ballot.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @ballot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :questions do |question_form| %>
    <%= question_form.text_field :question %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
