<%= form_for [@survey, @ballot] do |f| %>
  <%= f.fields_for :preferences do |preference_form| %>
    <%= preference_form.fields_for :question do |question_form| %>
      <p>
	    <%= question_form.label :question %><br />
	    <%= radio_button("preference", "preference", "Yes") %> Yes
	    <%= radio_button("preference", "preference", "No") %> No
	    <%= radio_button("preference", "preference", "Decline") %> Decline
      </p>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit "Vote" %>
  </div>
<% end %>
